.map {
  background-color: #F7F9FA;
  border-radius: 13.3333333333px;
  height: 23.75rem;
  margin-bottom: 2rem;
  position: relative;
  direction: ltr;
}
@media only screen and (max-width: 580px) {
  .map {
    height: 15.625rem;
    margin-bottom: 1.25rem;
  }
}

.popover-map-title {
  color: #3B4B5E;
  font-size: 1.125rem;
  margin-top: 0.1875rem;
  margin-bottom: 0.5rem;
}
.popover-map-caption {
  color: #5E6E80;
  font-weight: 400;
}

#marker {
  background-image: url("../img/icon-map.svg");
  background-size: cover;
  width: 3.125rem;
  height: 3.125rem;
  cursor: pointer;
}